.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .social-media-button-container {
  zoom: 1;
  text-align: center;
  /*
    &:after {
        content:"";
        display:inline-block;
        width:100%;
    }
    */
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-facebook {
  color: #ffffff !important;
  background-color: #3a5795;
  border: 1px solid #3a5795;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-facebook:visited,
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-facebook:active,
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-facebook:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-facebook.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-facebook.ow-button-hover:hover {
  background: #4060a4;
  border-bottom-color: #4060a4;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-google-plus {
  color: #ffffff !important;
  background-color: #dd4b39;
  border: 1px solid #dd4b39;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-google-plus:visited,
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-google-plus:active,
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-google-plus:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-google-plus.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-google-plus.ow-button-hover:hover {
  background: #e05b4a;
  border-bottom-color: #e05b4a;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-snapchat {
  color: #ffffff !important;
  background-color: #fffc00;
  border: 1px solid #fffc00;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-snapchat:visited,
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-snapchat:active,
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-snapchat:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-snapchat.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-snapchat.ow-button-hover:hover {
  background: #fffc14;
  border-bottom-color: #fffc14;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-stack-overflow {
  color: #ffffff !important;
  background-color: #f57920;
  border: 1px solid #f57920;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-stack-overflow:visited,
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-stack-overflow:active,
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-stack-overflow:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-stack-overflow.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-stack-overflow.ow-button-hover:hover {
  background: #f68534;
  border-bottom-color: #f68534;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-youtube {
  color: #ffffff !important;
  background-color: #cf3427;
  border: 1px solid #cf3427;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-youtube:visited,
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-youtube:active,
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-youtube:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-youtube.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button-youtube.ow-button-hover:hover {
  background: #d83f32;
  border-bottom-color: #d83f32;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button {
  font-size: 1em;
  padding: 0.5em 0.5em;
  margin: 0.2em 0.1em 0.2em 0.1em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.so-widget-sow-social-media-buttons-flat-1ac7c5185507 .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}